*{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    justify-content: space-evenly;
    background-color: lightcoral;
    padding: 20px;
}
.navbar {
  display: flex;
  background-color: rgb(11, 165, 11);
  justify-content: space-evenly;
  padding: 10px 30px 10px 30px;
}

.navbar a {
  text-decoration: none;
  color: cyan;
}
.footer {
  background-color: rgb(26, 26, 26);
  color: rgb(170, 170, 170);
  width: 100%;
  height: 400px;
  display: flex;
  /* padding-left: 40px; */
  padding: 20px;
  justify-content: space-evenly;
}
.about {
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
}
.aboutli{
  list-style: none;
}
.links {
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
}
.social {
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
}
